<div class="wrapper">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>
    <form>
      <div class="half-container">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>First name</mat-label>
          <input
            [(ngModel)]="user.firstName"
            [disabled]="loading"
            name="firstName"
            required="true"
            matInput
            placeholder="First name"
          />
          <mat-hint class="alert hide">Field is required!</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Last name</mat-label>
          <input
            [(ngModel)]="user.lastName"
            [disabled]="loading"
            name="lastName"
            required="true"
            matInput
            placeholder="Last name"
          />
          <mat-hint class="alert hide">Field is required!</mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="user.email"
          [disabled]="loading"
          name="email"
          required="false"
          matInput
          placeholder="Email"
        />
        <mat-hint class="alert hide">Field is required!</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Birth Date</mat-label>
        <input
          [(ngModel)]="birthDate"
          [disabled]="loading"
          name="birthDate"
          required="true"
          matInput
          matInput
          [matDatepicker]="picker"
          placeholder="MM/DD/YYYY"
        />
        <mat-hint class="alert hide">Field is required!</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street</mat-label>
        <input
          [(ngModel)]="user.street"
          [disabled]="loading"
          name="street"
          required="false"
          matInput
          placeholder="Street"
        />
        <mat-hint class="alert hide">Field is required!</mat-hint>
      </mat-form-field>

      <div class="one-two-container">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Zip</mat-label>
          <input
            [(ngModel)]="user.zip"
            [disabled]="loading"
            name="zip"
            required="false"
            matInput
            placeholder="Zip"
          />
          <mat-hint class="alert hide">Field is required!</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>City</mat-label>
          <input
            [(ngModel)]="user.city"
            [disabled]="loading"
            name="city"
            required="false"
            matInput
            placeholder="City"
          />
          <mat-hint class="alert hide">Field is required!</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" [disabled]="loading">
      Cancel
    </button>
    <button
      mat-button
      cdkFocusInitial
      (click)="saveUser()"
      color="primary"
      [disabled]="loading"
    >
      Save
    </button>
  </div>
</div>
