.container {
  width: 100dvw;
  height: 100dvh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  left: 0;
  right: 0;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;

  /* ToDo: Breite anpassen!!!!!!! */
  .router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    height: 100%;
    width: 88%;
  }
}

.sidenav {
  width: 300px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 20px;
      padding-right: 20px;
      height: 48px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      mat-icon {
        margin-right: 16px;
      }
    }
  }
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  h1 {
    margin: 20px;
  }
}
