<button
  (click)="openDialog()"
  mat-fab
  matTooltip="Add a user."
  [matTooltipPosition]="'above'"
  color="primary"
  class="position"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <mat-card-content>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="firstName">Firstname</th>
        <th mat-sort-header="lastName">Lastname</th>
        <th mat-sort-header="street">Street</th>
        <th mat-sort-header="zip">Zip</th>
        <th mat-sort-header="city">City</th>
        <th mat-sort-header="edit"></th>
        <th mat-sort-header="delete"></th>
      </tr>

      <tr
        *ngFor="let user of sortedData"
        class="pointer"
        routerLink="/user/{{ user.id }}"
      >
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.street }}</td>
        <td>{{ user.zip }}</td>
        <td>{{ user.city }}</td>
        <td (click)="editUser(user.id)">
          <mat-icon fontIcon="edit"></mat-icon>
        </td>
        <td>
          <mat-icon (click)="deleteUser(user.id)" fontIcon="delete"></mat-icon>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
